@model Forum.UI.Models.Reply
<div class="container">
    <h1 class="text-center">Add a reply</h1>
    <div class="row">
        <div class="mx-auto w-50">
            <form id="createReply" asp-controller="Replies" asp-action="AddReply" method="post">
                <div class="form-group">
                    <label asp-for="Message" class="control-label">Message</label>
                    <textarea asp-for="Message" class="form-control bg-light" style="height:300px;"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <br />
                <div class="text-left">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    if (ViewData.ModelState[string.Empty] != null)
                    {
                        <div class="error-summary">
                            @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                            {
                                <div class="error-item text-danger">
                                    @error.ErrorMessage
                                </div>
                            }
                        </div>
                    }
                }
            </form>
        </div>
    </div>
</div>