<form asp-controller="Search" asp-action="SearchForum" class="me-2">
    <div class="input-group col-sm-7 mx-auto">
        <input type="text" class="form-control" name="searchTerm" style="background-color: #c3c3c3; border-top-left-radius: 1em; border-bottom-left-radius: 1rem; color:black; border: none;" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
        <button class="btn btn-success" type="submit" style="color: #c3c3c3"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</form>
<br />
